body {
background-color: lightblue;
}

p{
    margin-left: 5%;
    margin-right:10%;
}

h1{
   

}

h2{
    margin-left: 3%;
}

h3 {
    margin-left: 3%;
}

h4 {
    margin-left: 4%;
}

a:link{
    text-decoration: none;
    background-color: aqua;
    padding: 10px;
    color:Black;
    text-align:center;
   
}

a {
   float:left; 
   margin-top: 20px;
}

ul {
    margin-left :3%;
}
